@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden ;
    background-color:#0d1a2d;
    font-family: "Red Hat Display", sans-serif;
}
main.card-container {
    background: #15273f;
    width: 350px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 0px 2px 7px 9px rgba(12,23,41,0.75);
    -webkit-box-shadow: 0px 2px 7px 9px rgba(12,23,41,0.75);
    -moz-box-shadow: 0px 2px 7px 9px rgba(12,23,41,0.75);
}
main.card-container img{
    width: 300px;
    margin: 25px;
    border-radius: 12px;
    background-color: RED;
}
h3{
    color: white;
    margin: 0em 2em;
}
 div.information-container p{
    color: #90a5c0;
    font-size: 17px;
    margin: 27px 32px;
}
.points-container div {
    display: inline;
}
.points-container div:nth-of-type(2) {
    margin-left: 5em;
}

.points-container div >span:nth-of-type(1){
    background-image: url("./nft-preview-card-component-main//images/icon-ethereum.svg");
    width: 2em;
    height: 34px;
    display: inline-block;
    margin: -1em 2em;
    background-repeat: no-repeat;
    background-size: contain;
}
.points-container div >span:nth-of-type(2){
    margin: -38px;
    color: #02fffd;
    position: relative;
    top: 3px;
}
.points-container div:nth-of-type(2) span:nth-of-type(1){

    background-image: url("./nft-preview-card-component-main/images/icon-clock.svg");
    width: 2em;
    height: 2em;
}
.points-container div:nth-of-type(2) span:nth-of-type(2){

    margin-left: -30px;
    color: #8db2df;
}
hr{
    width: 19em;
    height: 1px;
    background: #2f4159;
    border: none;
    margin-top: 2em;
}
div.creator-container {
    position: relative;
    top: -1em;
}
div.creator-container img{
    width: 2em;
    height: 2em;
    border: 1px solid white;
    border-radius: 50%;
    display: inline;
}
div.creator-container p {
    position: absolute;
    top: 13px;
    left: 84px;
    color: #8ba2c1;
}
div.creator-container p span{
    color: white;
}
footer{
    text-align: center;
    width: 100vw;
    position: fixed;
    top: 96vh;
    left: 0;
}

/* active states */
div.image-container{
    position: relative;
}
div.image-container::before {
    content: "";
    position: absolute;
    background: #02fffd;
    width: 300px;
    /* height: 21em; */
    border-radius: 12px;
    left: 25px;
    top: 25px;
    height: 19em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .5;
    cursor: pointer;
    display: none;
}

div.image-container::after {
        content: url("./nft-preview-card-component-main/images/icon-view.svg"); 
        position: absolute;
        width: 300px;
        /* height: 21em; */
        border-radius: 12px;
        left: 25px;
        top: 25px;
        height: 19em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        display: none;
}
div.image-container:hover::before{
    display: flex;
}
div.image-container:hover::after{
    display: flex;
}
h3:hover{
    cursor: pointer;
    color: #02fffd;
}
div.creator-container p span:hover{
    color: #02fffd;
    cursor: pointer;
}
